.mainPortfolio {
  display: flex;
  flex-direction: column;
}
.mainMobile{
  opacity: 0;
  transform: translatey(-50px);
  animation: show 0.5s ease-in forwards;
}

.container_Front{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainFront-end.single{
display: flex;
flex-direction: column;
align-items: center;
gap: 150px;
}


.mainFront-end.mosaico{
display: grid;
grid-template-columns: 1fr 1fr;

}


.intro--portfolio {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translatey(-50px);
  animation: show 0.5s ease-in forwards;
  -webkit-animation: show 0.5s ease-in forwards;
  -webkit-transform: translatey(-50px);
  -moz-transform: translatey(-50px);
  -ms-transform: translatey(-50px);
  -o-transform: translatey(-50px);
}



.btnIntro--portfolio {
  display: flex;
  align-self: flex-end;
  display: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background: #282828;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 20%;
  max-width: 350px;
  height: 300px;
  transition: all 0.5s ease-out;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.btnIntro--portfolio h2 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.btnIntro--portfolio:hover h2 {
  opacity: 1;
}

.btnIntro--portfolio:hover>div {
  opacity: 0;
}



.btnIntro--portfolio h2::before {
  content: "";
  display: block;
  height: 2px;
  width: 105px;
  opacity: 0;
  margin: 0 auto;
  margin-bottom: 45px;
  border-radius: 50px;
  background-color: aliceblue;
  transition: all 0.2s ease-in;
  transform: translatey(-60px);
  -webkit-transform: translatey(-60px);
  -moz-transform: translatey(-60px);
  -ms-transform: translatey(-60px);
  -o-transform: translatey(-60px);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}



.btnIntro--portfolio h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 105px;
  margin: 0 auto;
  background-color: aliceblue;
  opacity: 0;
  margin-top: 45px;
  border-radius: 50px;
  transition: all 0.2s ease-in;
  transform: translatey(60px);
  -webkit-transform: translatey(60px);
  -moz-transform: translatey(60px);
  -ms-transform: translatey(60px);
  -o-transform: translatey(60px);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.btnIntro--portfolio:hover {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}



.btnIntro--portfolio:hover h2::before,
.btnIntro--portfolio:hover h2::after {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}



@media (max-width: 1500px) {
  .btnIntro--portfolio {
    width: 200px;
    height: 200px;
  }

  .btnIntro--portfolio h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
  }

  .btnIntro--portfolio h2::before {
    height: 1px;
    width: 55px;
    transform: translatey(-20px);
    margin-bottom: 25px;
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    -o-transform: translatey(-20px);
  }

  .btnIntro--portfolio h2::after {
    height: 1px;
    width: 55px;
    margin-top: 25px;
    transform: translatey(20px);
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    -o-transform: translatey(20px);
  }

  .btnIntro--portfolio:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }

  .intro--portfolio p span {
    font-size: 0.85em;
    font-style: italic;
    color: grey;
  }

  .intro--portfolio {
    margin-top: 50px;

  }
}

@media (max-width: 1150px) {
  .btnIntro--portfolio {
    transform: scale(1.1);
    width: 150px;
    height: 150px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

}

@media (max-width: 1000px) {

  .intro--portfolio>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;

  }



  .intro--portfolio {
    margin-bottom: 250px;
  }

  .btnIntro--portfolio {
    width: 200px;
    height: 200px;
  }

  .btnIntro--portfolio:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }



}