.navlink {
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.navlink--img {
  position: relative;
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 4;
}





.navlink .navlink--title {
  position: absolute;
  margin-top: 4px;
  transition: 0.5s;
  opacity: 0;
  color: #fff;
  align-items: flex-start;
  transform: translateX(-50px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}


.navlink.active .navlink--title {
  opacity: 1;
  transform: translate(-5px, 12px);
  -webkit-transform: translate(-5px, 12px);
  -moz-transform: translate(-5px, 12px);
  -ms-transform: translate(-5px, 12px);
  -o-transform: translate(-5px, 12px);


  
}

.navlink.active .navlink--img {
  transform: translateX(57px);
  -webkit-transform: translateX(57px);
  -moz-transform: translateX(57px);
  -ms-transform: translateX(57px);
  -o-transform: translateX(57px);
}



.navlink:nth-child(2).active~.indicator,
.navlink:nth-child(2).active~.light {
  transform: translateY(calc(87px * 1));
  -webkit-transform: translateY(calc(87px * 1));
  -moz-transform: translateY(calc(87px * 1));
  -ms-transform: translateY(calc(87px * 1));
  -o-transform: translateY(calc(87px * 1));
}

.navlink:nth-child(3).active~.indicator,
.navlink:nth-child(3).active~.light {
  transform: translateY(calc(86px * 2));
}

.navlink:nth-child(4).active~.indicator,
.navlink:nth-child(4).active~.light {
  transform: translateY(calc(86px * 3));
  -webkit-transform: translateY(calc(86px * 3));
  -moz-transform: translateY(calc(86px * 3));
  -ms-transform: translateY(calc(86px * 3));
  -o-transform: translateY(calc(86px * 3));
}