.mainAbout {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.mainAbout::-webkit-scrollbar {
  display: none;
}

.about {
  min-width: 551px;
  max-width: 900px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-100px);
  animation: show 0.5s ease-in forwards;
  padding-top: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.about > div {
  margin-left: 26px;
  font-size: 1.3em;
  text-align: justify;
}

.card {
  position: relative;
  height: 100px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(150px);
  animation: showCard 0.5s 0.2s ease-out forwards;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  -webkit-animation: showCard 0.5s 0.2s ease-out forwards;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@keyframes showCard {
  to {
    transform: translatey(60px);
    opacity: 1;
    -webkit-transform: translatey(60px);
    -moz-transform: translatey(60px);
    -ms-transform: translatey(60px);
    -o-transform: translatey(60px);
  }
}

.card.active {
  transition-delay: 0s;
  display: flex;
  flex-direction: column;
}

.card .user {
  position: relative;
  width: 400px;
  min-height: 150px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 40px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content {
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.content h2 {
  font-size: 1rem;
}

.content span {
  font-style: italic;
  font-size: 0.8rem;
}

.img {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translateY(-60px);
  border: 4px solid #581c71;
  transition: 0.5s;
  z-index: 10;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.toggle {
  position: absolute;
  bottom: 0;
  width: 120px;
  padding: 5px 15px;
  background-color: #581c71;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
  border: 6px solid #1c1c1c;
  transform: translateY(50%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

.card.active .user .toggle {
  background: #29fd53;
  color: #fff;
}

.card.active .user .img {
  border: 4px solid #29fd53;
}

.containerSocialMedia {
  margin-top: 50px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.socialMediaCard {
  height: 50px;
  width: 80%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 30px 15px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.containerSocialMedia a:nth-child(1):hover {
  box-shadow: 0 0 4px #babbbd, 0 0 12px #babbbd, 0 0 22px #babbbd;
}

.containerSocialMedia a:nth-child(2):hover {
  box-shadow: 0 0 4px #0a66c2, 0 0 12px #0a66c2, 0 0 22px #0a66c2;
}

.containerSocialMedia a:nth-child(3):hover {
  box-shadow: 0 0 4px #e4405f, 0 0 12px #e4405f, 0 0 22px #e4405f;
}

.containerSocialMedia a:nth-child(4):hover {
  box-shadow: 0 0 4px #d14836, 0 0 12px #d14836, 0 0 22px #d14836;
}

.containerSocialMedia a:nth-child(5):hover {
  box-shadow: 0 0 4px #25d366, 0 0 12px #25d366, 0 0 22px #25d366;
}

.containerSocialMedia a:nth-child(1) {
  transform: translateX(-120px);
  animation: forwards show 0.8s;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  -webkit-animation: forwards show 0.8s;
}

.containerSocialMedia a:nth-child(2) {
  transform: translateX(120px);
  animation: forwards show 0.8s 0.3s;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
  -webkit-animation: forwards show 0.8s 0.3s;
}

.containerSocialMedia a:nth-child(3) {
  transform: translateX(-120px);
  animation: forwards show 0.8s 0.6s;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  -webkit-animation: forwards show 0.8s 0.6s;
}

.containerSocialMedia a:nth-child(4) {
  transform: translateX(120px);
  animation: forwards show 0.8s 0.9s;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
  -webkit-animation: forwards show 0.8s 0.9s;
}

.containerSocialMedia a:nth-child(5) {
  transform: translateX(-120px);
  animation: forwards show 0.8s 1.1s;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  -webkit-animation: forwards show 0.8s 1.1s;
}

@media (max-width: 1400px) {
  .mainAbout {
    margin-top: 100px;
  }
  .about {
    min-width: 450px;
  }

  .card .user {
    width: 320px;
    padding: 30px 20px 20px;
    min-height: 120px;
  }

  .content h2 {
    font-size: 0.9rem;
  }

  .img {
    height: 90px;
    width: 90px;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }

  .content span {
    font-style: italic;
    font-size: 0.8rem;
  }

  .socialMediaCard {
    padding: 22px 10px;
    gap: 0px;
    height: 35px;
  }

  .containerSocialMedia {
    gap: 10px;
    margin-top: 30px;
    width: 320px;
  }

  .sociallMediaImg,
  .sociallMediaText {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

@media (max-width: 1150px) {
  .mainAbout {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .about {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
  }

  .about h1 {
    text-align: center;
  }

  .about > div {
    margin-left: 0px;
  }

  .mainAbout::-webkit-scrollbar {
    display: block;
  }

  .card {
    margin-bottom: 150px;
  }

  .containerSocialMedia {
    padding-bottom: 50px;
  }
}
