.mainPortfolio{
  display: flex;
  flex-direction: column;
}

.intro--portfolio{
margin-top: 150px;
width: 100%;
height: calc(100vh - 150px);
display: flex;
align-items: center;
flex-direction: column;
}

.btnIntro--portfolio{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  min-width: 150px;
  width: 20%;
  max-width: 350px;
  min-height: 300px;
  height: 20%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}