.menu--container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 8rem;
  max-width: 15rem;
  background-color: #0d0d0d;
}

.menu--background {
  height: 350px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  color: #0d0d0d;
  font-size: 12px;
}



.navlink {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.navlink--img {
  position: relative;
  display: block;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navlink .ativo.navlink--img {
  transform: translateX(35px);
  -webkit-transform: translateX(35px);
  -moz-transform: translateX(35px);
  -ms-transform: translateX(35px);
  -o-transform: translateX(35px);
}

.navlink span {
  position: absolute;
  margin-top: 4px;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(20px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.navlink span.ativo {
  opacity: 1;
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.indicator{
  position: absolute;
  right: 50%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}