.mainHome {
  margin-top: 150px;
  opacity: 0;
  transform: translateX(-50px);
  animation: show 0.5s ease-out forwards;
  -webkit-animation: show 0.5s ease-out forwards;
}

@keyframes show {
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}



.MyNameHome {
  margin-left: 26px;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.MyNameHome span {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 700;
  color: #581C71;
  cursor:pointer;
}



.aboutHome {
  margin-left: 26px;
  font-size: 1.3em;
  text-align: justify;
  width: 600px;

}

.obi-wan{
position: absolute;
bottom: 0;
right: 0;
}

@media(max-width: 1400px) {
  .mainHome{
    margin-top: 50px;
  }
  .aboutHome {
    width: 450px;
  }
}