.mainHome {
  margin-top: 12%;
  opacity: 0;
  transform: translateX(-50px);
  animation: showToTheRight 0.5s ease-out forwards;
  -webkit-animation: showToTheRight 0.5s ease-out forwards;
}

@keyframes showToTheRight {
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.TitleH1 {
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 15px;
}

.MyNameHome {
  margin-left: 26px;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.MyNameHome span {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 700;
  color: #581C71;
}

.aboutHome {
  margin-left: 26px;
  font-size: 1.3em;
  text-align: justify;
  width: 600px;

}

@media(max-width: 1400px) {
  .aboutHome {
    width: 450px;
  }
}