.mainSkills p {
  margin-left: 25px;
  font-size: 1.3em;
  min-width: 300px;
  width: 70%;
  max-width: 750px;
  text-align: justify;
  margin-top: 25px;
}

.introSkills {
  margin-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 150px;
}

.apresentacao {
  opacity: 0;
  transform: translateX(50px);
  animation: show 0.5s ease-out forwards;
  -webkit-animation: show 0.5s ease-out forwards;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);

}



.apresentacao p span {
  font-style: italic;
  font-weight: 700;
  color: #581c71;
  font-size: 1.2em;
}

.arrows {
  opacity: 0;
  transform: translatey(-100px);
  animation: show 0.7s 0.3s ease-out forwards;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  
  -webkit-animation: show 0.7s 0.3s ease-out forwards;
  -webkit-transform: translatey(-100px);
  -moz-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  -o-transform: translatey(-100px);
}

.smallArrow {
  position: absolute;
  right: 7.5px;
  bottom: 25px;
  animation: smallArrowAnime 1.5s infinite ease-in-out;
  -webkit-animation: smallArrowAnime 1.5s infinite ease-in-out;
}

.bigArrow {
  
  animation: bigArrowAnime 1.5s 0.2s infinite ease-in-out;
  -webkit-animation: bigArrowAnime 1.5s 0.2s infinite ease-in-out;
}

@keyframes smallArrowAnime {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@keyframes bigArrowAnime {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  50% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -o-transform: translateY(12px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.linguagensSkills {
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 150px;
}

.text--languages a {
  font-style: italic;
  color: #581c71;
  font-weight: 700;
  font-size: 1.2em;
}

.bb8{
  position: relative;
  z-index: -1;
  max-width: 400px;
  animation: bb8Move infinite 10s 0.8s;
  -webkit-animation: bb8Move infinite 10s 0.8s;
}

.cardsContainer--Linguagens {
  display: flex;
  overflow-y: hidden;
  margin-top: 50px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.cardsContainer--Linguagens::-webkit-scrollbar {
  display: none;
}

.card--language {
  position: relative;
  height: 250px;
  width: 225px;
  text-align: center;
  z-index: 10;
  margin: 20px 20px 60px;
  cursor: pointer;

}

.box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.percent {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 100;
  top: -35px;
  right: -35px;
  transform: scale(0.5);
  border-radius: 50%;
  transition: transform 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent .number h2 {
  font-weight: 900;
  font-size: 3rem;
}

.percent .number h2 span {
  font-size: 1.8rem;
}

.title {
  position: absolute;
  bottom: -36px;
  left: 50%;
  text-align: center;
  padding: 30px 20px 10px;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0.5s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  -moz-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  -ms-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  -o-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
}

.card--language:nth-child(1) .title {
  background: #1F62AE;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.card--language:nth-child(2) .title {
  background: #F7DF1E;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.card--language:nth-child(3) .title {
  background: #E34F26;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.card--language:nth-child(4) .title {
  background: #5382A1;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.card--language:nth-child(5) .title {
  background: #0076C6;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.card--language:hover .title {
  transition-delay: 0s, 0.5s, 0.5s, 0s;
  bottom: -50px;
  z-index: 11;
  padding: 10px 20px 10px;
  transform: translateX(-50%) translateY(-70%);
  -webkit-transform: translateX(-50%) translateY(-70%);
  -moz-transform: translateX(-50%) translateY(-70%);
  -ms-transform: translateX(-50%) translateY(-70%);
  -o-transform: translateX(-50%) translateY(-70%);
}

/* .card--language:nth-child() .title {
  background: ;
} */

svg {
  position: relative;
  width: 150px;
  height: 150px;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 8;
  stroke: rgba(255, 255, 255, 0.05);
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-width: 11;
  stroke: #581c71;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}

.card--language:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 28)/100);
}

.card--language:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 24)/100);
}

.card--language:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 21)/100);
}

.card--language:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 15)/100);
}

.card--language:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 10)/100);
}



.icon img {
  width: 100px;
  height: 100px;
}

.card--language:nth-child(2) .icon img, .card--language:nth-child(5) .icon img {
  width: 120px;
  height: 120px;

}



@keyframes bb8Move {
  0% {
    opacity: 1;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}

50%{
  opacity: 1;
  transform: translateX(440px);
  -webkit-transform: translateX(440px);
  -moz-transform: translateX(440px);
  -ms-transform: translateX(440px);
  -o-transform: translateX(440px);
}


100%{
  opacity: 1;
  transform: translatex(0px);
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  -ms-transform: translatex(0px);
  -o-transform: translatex(0px);
}
}


.tecnologias{
  padding-top: 50px;
  height: 100vh;
}

.tecnologias span{
  color: #581c71;
}

